*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    text-align:center;
    font-size: 35px;
    font-weight:300px;
}

form{
    display:flex;
    flex-direction: column;
    padding: 14px;
}

.input{
    display:flex;
    justify-content:space-between;
}

.input-split{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    font-size: 10px;
    margin: 3px 0;
    padding-left: 10px;
}

.form-alignment{
    max-width:230px;
}

.checkbox-wrapper{
    display:flex;
    align-items: center;
}

.terms{
    width:70%;
}

p{
    font-size: 12px;
}

#reg{
    background-color: blue;
    color:white;
}

a{
    text-decoration: none;
}

.btn{
    font-size: 18px;
    color:white;
    text-align:center;
    border-radius: 5px;
    width: 50%;
    height: 40px
}

.register-btn{
    background-color:#428bca;
}

.signIn-btn{
    background-color: #5cb85c;
}